.New-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 250px 0;
}

.New-section h1 {
  margin: 0 0 20px 30px;
  font-size: 2.2rem;
}

.new-container {
  width: 95%;
  border-top: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}
