.main-news-section {
  width: 100%;
  margin: 25px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-news-up-to-date {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-news-up-to-date-warp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.main-news-up-to-date-warp:hover .main-news-up-to-date-img {
  transform: scale(1.2);
}

.main-news-up-to-date-canvas {
  width: min(80%, 700px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  overflow: hidden;
  border-radius: 10px;
}

.main-news-up-to-date-img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.main-news-up-to-date-desc {
  width: min(80%, 800px);
}

.main-news-up-to-date-desc p:nth-child(1) {
  margin: 15px 0 5px 0;
}

.main-news-up-to-date-desc p {
  color: rgb(45, 45, 45);
}

.main-news-up-to-date-desc h1 {
  margin: 5px 0 0 0;
}

.other-news-section {
  width: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* .other-news-section-warp {
    max-width: 930px;
    display: flex;
    flex-wrap: wrap;
  } */

.other-news-item {
  width: min(75%, 400px);
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.other-news-canvas {
  width: 90%;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.other-news-item:hover .other-news-img {
  transform: scale(1.1);
}

.other-news-img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.other-news-desc {
  width: 85%;
}

.other-news-desc h3 {
  margin: 10px 0 10px 0;
}

.other-news-desc p {
  color: rgb(45, 45, 45);
  margin: 0 0 5px 0;
}

/* //// */

.tidak-ada-konten {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tidak-ada-konten img {
  width: 100%;
}
