body {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

body::-webkit-scrollbar-track {
  width: 100px;
  height: 1000px;
  background-color: rgb(0, 0, 0);
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: "ubuntu", sans-serif;
}

p {
  font-family: "poppins", sans-serif;
}

/* /// */
/* ////////////////////////// */
/* news */
/* ////////////////////////////////////// */

.news-area {
  max-width: 800px;
  /* border-right: 1px solid rgb(0, 0, 0);
  border-left: 1px solid black; */
  margin: 75px 0 200px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.news-area h1 {
  text-align: center;
}

.penulis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.penulis p {
  margin: 0;
}

.news-image {
  max-width: 85%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 50px 0px 75px 0px;
}

.paragraph {
  width: 95%;
}

.paragraph p {
  line-height: 27px;
  color: #113f59;
  margin: 20px 15px 20px 15px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 25px 0 25px;
  width: min(95%, 600px);
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.rating img {
  width: 100%;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(100%, 350px);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
}

.rating-container img {
  width: 50px;
  margin: 25px 5px 25px 5px;
  cursor: pointer;
}

.footer-section {
  width: 100%;
  background-color: rgb(245, 245, 245);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  max-width: 75%;
}

/* pengempangan-pages */
.pengembangan-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgb(244, 244, 244);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pengembangan-logo {
  max-width: 100%;
}

/* LOGIN */
.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-body {
  width: 60%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 0 black;
}

.login-form input {
  width: 350px;
  height: 25px;
  margin: 5px 15px 5px 15px;
}

.login-form h2 {
  margin: 20px 10px 5px 10px;
}

.login-form p {
  font-size: 0.7rem;
  margin: 5px 15px 5px 15px;
  color: rgb(161, 0, 0);
}

.name-form,
.pass-form,
.gmail-form,
.verif-form {
  width: 95%;
}

.email-div {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.email-inpt {
  width: 275px !important;
}

.email-div button {
  width: 45px;
  height: 45px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 213, 255);
  border-radius: 5px;
  background-color: white;
}

.log-hidden {
  opacity: 0;
}

.login-button {
  margin: 25px;
}

.login-img {
  width: 40%;
  height: 100vh;
  background-color: #a0e4f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-img-canvas {
  max-width: 500px;
}

.login-img-canvas img {
  width: 100%;
}

.login-button-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(126, 165, 244);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-button {
  position: relative;
  width: 200px;
  height: 50px;
  opacity: 0.5;
  border-radius: 3px;
  border: 3px solid rgb(255, 122, 122);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-button-start:hover {
  background-color: rgb(0, 238, 255);
  box-shadow: 0 0 15px rgb(0, 204, 255);
}

.login-signin-log {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 5px;
  position: absolute;
  width: 450px;
  height: 200px;
  bottom: 5px;
  left: -100%;
  background-color: white;
}

.login-signin-log-exit {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.log-loading {
  max-width: 50px;
}

@media (max-width: 768px) {
  .login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
  }

  .login-body {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login-form input {
    width: 350px;
    height: 25px;
    margin: 5px 10px 5px 10px;
  }

  .login-form h2 {
    margin: 20px 5px 5px 5px;
  }

  .login-form p {
    margin: 5px 10px 5px 10px;
    color: rgb(161, 0, 0);
  }

  .login-img {
    width: 100%;
    height: 40vh;
    background-color: #a0e4f1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .login-signin-log {
    width: 350px;
  }
}
